* {
	font-family: 'Press Start 2P', sans-serif;
	font-smooth: never;
	padding:0;
	margin:0;
}

body {
	background-color: #000;
	color:#fff;
}

h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
}

#field {
	position: relative;
	width:640px;
	height:480px;
	left:50%;
	margin-left: -320px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.goal_area {
	position: absolute;
	top:0px;
	width:1px;
	height:100%;
	border-left:1px dashed #fff;
}

.score {
	position: absolute;
	top:20px;
	opacity: 0.5;
}

.score .digit {
	width:30px;
	height:50px;
}

.ball, .snake_head, .snake_body {
	position: absolute;
	width:10px;
	height:10px;
}

.ball {
	border-radius: 50%;
	background-color: #fff;
}

.snake_head {
	border-radius: 25%;
	background-color: #0f0;
}

.snake_body {
	background-color: #0f0;
}