* {
	font-family: 'Press Start 2P', sans-serif;
	font-smooth: never;
	padding:0;
	margin:0;
}

body {
	background-color: #000;
	color:#fff;
}

h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
}

#field {
	position: relative;
	width:640px;
	height:480px;
	left:50%;
	margin-left: -320px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #0f0;
	border-right: 1px solid #00f;

	transform: rotateY(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    backface-visibility: visible;
}

#field.flipped {
	transform: rotateY(180deg);
}

#field.drunken {
	-webkit-animation: drunken 5s steps(50, start) infinite;
}


@-webkit-keyframes drunken {
    0%  { transform: rotateZ(0deg)}
    
    10% { transform: rotateZ(-7deg)}
    40% { transform: rotateZ(-20deg)}
    
    50% { transform: rotateZ(0deg)}
    
    60% { transform: rotateZ(7deg)}
    90% { transform: rotateZ(20deg)}
    
    100% { transform: rotateZ(0deg)}
}

.center_line {
	position: absolute;
	top:0px;
	left:50%;
	width:1px;
	height:100%;
	border-left:1px dashed #fff;
}

.score {
	position: absolute;
	top:20px;
	opacity: 0.5;
}

.score .digit {
	width:30px;
	height:50px;
	margin:6px;
}

.ball, .snake, .powerup {
	position: absolute;
	width:10px;
	height:10px;
}

.ball {
	border-radius: 50%;
	background-color: #fff;
	margin-top: -5px;
	margin-left: -5px;
}

.snake.left {
	background-color: #0f0;
}

.snake.right {
	background-color: #00f;
}

.snake.head {
	border-radius: 33%;
}

.snake.body {
}

.powerup {
	background-color:#f0f;
}
.powerup.grow_snake {
	background-color:transparent;
	background-image: url("/img/powerups/grow_snake.png");
}
.powerup.shrink_snake {
	background-color:transparent;
	background-image: url("/img/powerups/shrink_snake.png");
}
.powerup.freeze_snake {
	background-color:transparent;
	background-image: url("/img/powerups/freeze_snake.png");
}
.powerup.flip_screen {
	background-color:transparent;
	background-image: url("/img/powerups/flip_screen.png");
}
.powerup.beer {
	background-color:transparent;
	background-image: url("/img/powerups/beer.png");
}


#menu {
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    z-index: 1000;
	color: gray;
	text-align: center;
}

input {
	margin-top: 5px;
	height: 25px;
	font-size: 150%;
	width: 80%;
	border: none;
	background-color: black;
	color: gray;
	outline: none;
	text-align: center;
}

input[type=text], span.selected{
	color: white;
}

span.tabbed{
	color:grey;
}

h1 {
	color: white;
}

div.box {
	margin-top: 5px;
}


a {
	color: gray;
	text-decoration: none;
	font-style: italic;
}

a:hover, a:active, a.active {
	outline: none;
	color: white;
}


.blink {
  animation: blink 0.8s steps(5, start) infinite;
  -webkit-animation: blink 0.8s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

div.countdown {

	width: 100px;
	height: 50px;

	position: relative;

	margin-top: -25px;
	margin-left: -50px;

	font-size: 50px;
	text-align: center;

	/* fix to remove really ugly border artificats*/
	border: 3px solid rgba(0, 0, 0, 0);
}

div.countdown {
	top: 50%;
	left: 50%;
}


div.name_left, div.name_right {
	position: absolute;
	top:120px;
	font-size: 50px;

	width: 300px;
	text-align: center; 

	/* fix to remove really ugly border artificats*/
	border: 3px solid rgba(0, 0, 0, 0);
}
div.name_left {
	right:340px;
}

div.name_right {
	left:340px;
}
